@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: 'NowLight';
    src: url('../public/fonts/Aileron-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NowRegular';
    src: url('../public/fonts/Aileron-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


body {
    background: var(--background);
    color: var(--foreground);
}

:root {
    --font-urbanist: "Urbanist", sans-serif;
    --font-jost: "Jost", sans-serif;
    --font-inter: "Inter", sans-serif;
    --font-info: 'NowLight', sans-serif;
    --font-body: 'NowRegular', sans-serif;
}

body {
    font-family: var(--font-body);
}



h1 {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 1.9rem;
}


h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}

input {
    font-size: 16px;
}

p {
    font-size: 16px;
}

label {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 500;
}


.dot {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    background-color: white;
    opacity: 0.1;
}

.dot1 {
    animation: fill 1s forwards;
}

.dot2 {
    animation: fill 1s forwards;
    animation-delay: 1s;
}

.dot3 {
    animation: fill 1s forwards;
    animation-delay: 2s;
}

.dot4 {
    animation: fill 1s forwards;
    animation-delay: 3s;
}

.dot5 {
    animation: fill 1s forwards;
    animation-delay: 4s;
}

.dot6 {
    animation: fill 1s forwards;
    animation-delay: 5s;
}

.dot7 {
    animation: fill 1s forwards;
    animation-delay: 6s;
}

.dot8 {
    animation: fill 1s forwards;
    animation-delay: 7s;
}

/* animation principale */
@keyframes fill {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

.box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

@layer base {

    html,
    .scroll-container {
        scroll-behavior: smooth;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    html::-webkit-scrollbar,
    .scroll-container::-webkit-scrollbar {
        display: none;
    }
}

/* masque la scrollbar partout */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}